<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AniSync</title>
    
    <link href="~/dist/css/vendor.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true">
</head>
<body>

<main role="main" class="container">
    @RenderBody()
</main>

<script src="~/dist/js/vendor.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
