@using AniSync.Services.Auth
@using AniSync.Services.Auth.Extensions

<div class="row">
    <div class="col-md">
        <h2>Index</h2>

        <p>Welcome, @User.GetClaim(AuthClaim.Name) with plex id @User.GetClaim(AuthClaim.PlexId)!</p>
    </div>
</div>